/* Elements */

body{
    background-color: black;
    color: #9da0a3;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

/* ID's */

#upcoming{
    max-width: 100%;
}

#smerch{
    padding-top: 20px;
    max-width: 100%;
}

#merch{
    max-width: 100%;
}

#smerch:hover {
    transform: scale(1.5);
    }

#storebutton{
    color: rgb(155, 31, 31);
    display: inline-block;
    margin: 25px 10px;
}

#submitbutton{
    color: rgb(155, 31, 31);
}

/* Classes */

/* Social media icons */
/* .nav-link{
    color: rgb(155, 31, 31);
    padding: 5px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
} */
.navbar-nav{
    margin-right: 10px;
    color: rgb(155, 31, 31);
}

.carousel-inner {
    max-width: 100%;
  }

.row > div {
    padding: 20px;
    /* background-color: aqua; */
    border: 2px solid black;
}

.flashmessage{
    margin-top: 5px;
    /* margin-right: 50px; */
    padding-right: 105px;
    display: flex;
    justify-content: end;

}
