/* Elements */

body{
    background-color: #000;
    color: #9da0a3;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

/* ID's */

/* Register link */
#register{
    padding-top: 17px;
}

/* Upcoming shows image */
#upcoming{
    max-width: 100%;
    padding-left: 5px;
}

#demo{
    padding-right: 5px;
}

/* #merch{
    max-width: 100%;
    padding: 10px;
} */

#viewbutton{
    color: rgb(155, 31, 31);
    display: inline-block;
    margin: 25px 10px;
}

/* Classes */

/* Social media icons */
.fa{
    color: grey;
    padding: 20px;
    font-size: 36px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}


