<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Metadata for site -->
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <link href="/static/styles.css" rel="stylesheet">

        <title>BULLETSCRIPT</title>

    </head>

    <body>

        <!-- Div container with logo, name, social media links, link to merch page and sign in/register button -->
        <nav class="navbar navbar-expand-sm bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="/static/pics/logo.png" alt="logo" style="width:40px;">
                </a>
                <h1>BULLETSCRIPT</h1>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/BULLETSCRIPT">Facebook</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://www.instagram.com/bulletscript/">Instagram</a></li>
                    <li class="nav-item"><a class="nav-link" href="https://open.spotify.com/artist/3SLBGghuwxcU3N8CQOHJHR">Spotify</a></li>
                </ul>
                <button type="button" class="btn btn-link">
                    <a href="store.html">Store</a>
                </button>   
                <ul id="register">
                    <button type="button" class="btn btn-link">Register</button>
                    <button type="button" class="btn btn-primary">Sign In</button>
                </ul>
            </div>
        </nav>

        <!-- Div container with 2 columns - 1 for upcoming shows and 1 for picture and band description -->
        <div class="row">
            <div class="col-sm-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, odio!</p>
            </div>
            <div class="col">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum, impedit.</p>
                <img class="img-fluid" src="/static/pics/7331.jpg" alt="BULLETSCRIPT">
            </div>
        </div>
                
    </body>

</html>
