<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Metadata for site -->
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- https://getbootstrap.com/docs/5.1/ -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <!-- Icon Library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link href="/static/styles.css" rel="stylesheet">

        <title>BULLETSCRIPT</title>

    </head>

    <body>

        <!-- Div container with logo, name, social media links, link to merch page and sign in/register button -->
        <nav class="navbar navbar-expand-sm bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="/static/pics/logo.png" alt="logo" style="width:40px;">
                </a>
                <h1>BULLETSCRIPT</h1>
                <div class="navbar-nav">
                    <!-- Facebook-->
                    <div class="nav-item">
                        <div class="nav-link"> 
                            <a class="fa fa-facebook" href="https://www.facebook.com/BULLETSCRIPT" target="_blank"></a>
                        </div>
                    </div>
                    
                    <!-- Instagram -->
                    <div class="nav-item">
                        <div class="nav-link">
                            <a class="fa fa-instagram" href="https://www.instagram.com/bulletscript" target="_blank"></a>
                        </div>
                    </div> 

                    <!-- Spotify -->
                    <div class="nav-item">
                        <div class="nav-link">
                            <a class="fa fa-spotify" href="https://open.spotify.com/artist/3SLBGghuwxcU3N8CQOHJHR" target="_blank"></a>
                        </div>
                    </div> 

                    <!-- Bandcamp -->
                    <div class="nav-item">
                        <div class="nav-link">
                            <a class="fa fa-bandcamp" href="https://bulletscript.bandcamp.com/" target="_blank"></a>
                        </div>
                    </div> 
                </div>

                <button type="button" class="btn btn-link">
                    <a href="store.html">Store</a>
                </button>   
                <ul id="register">
                    <button type="button" class="btn btn-link">Register</button>
                    <button type="button" class="btn btn-primary">Sign In</button>
                </ul>
            </div>
        </nav>

        <!-- Div container with 2 columns - 1 for upcoming shows and 1 for picture and band description -->
        <div class="row">
            <!-- Upcoming shows -->
            <div class="col-sm-4">
                <br>
                <h3>UPCOMING SHOWS</h3>
                <br>
                <img id="upcoming" src="/static/pics/daisyjones.jpeg" alt="upcoming gig">
                <a href="https://www.facebook.com/events/987807045170593/?ref=newsfeed" target="_blank">More Info</a> 
            </div>
            <!-- Carousel and description -->
            <div class="col-sm-8">
                <br>
                <div id="demo" class="carousel slide" data-bs-ride="carousel">
                    <!-- Indicators/dots -->
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
                    </div>
                    <!-- The slideshow/carousel -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="/static/pics/7331.jpg" alt="BulletScript" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                        <img src="/static/pics/FUYD4924.jpeg" alt="BulletScript" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                        <img src="/static/pics/GMAT2200.jpeg" alt="BulletScript" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/pics/YFVQ1559.jpeg" alt="BulletScript" class="d-block w-100">
                        </div>
                    </div>
                    <!-- Left and right controls/icons -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </button>
                </div>
                <p>BULLETSCRIPT is a band with a clear message - open your eyes to the world around you, and question everything,                   
                   taking nothing, and nobody, for granted.

                   The band consists of a full compliment of seasoned performers from the Cape Town metal scene. A band that enjoys pushing the envelope, placing great emphasis on solid song writing, stellar stage performance and a delivery so intense that your neck will be in a constant state of headbanging ecstasy.
                    
                   Combining the skills of Brett Bruton (Vocals), Jacques Hugo (Guitar), Oliver Saggerson (Guitar), JJ du Toit (Bass) and Kyle Curran (Drums), BULLETSCRIPT is ready to spread the word, take no prisoners and have a great time!</p>
            </div>
        </div>
                
    </body>

</html>
