<!DOCTYPE html>

<html lang="en">

<head>

    <!-- Metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- https://getbootstrap.com/docs/5.1/ -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

    <!-- Icon Library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='pics/favicon.ico')}}">

    <!-- CSS -->
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

    <title>BULLETSCRIPT</title>

</head>

<body>
    
    <!-- Nav container with logo, name, social media links, link to merch page and subscribe button -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: black;">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/static/pics/logo.png" alt="logo" style="width:40px;">
            </a>
            <h1>BULLETSCRIPT</h1>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <!-- Facebook-->
                        <li class="nav-item">
                            <a class="nav-link fa fa-facebook" href="https://www.facebook.com/BULLETSCRIPT" target="_blank"></a>
                        </li>

                        <!-- Instagram -->
                        <li class="nav-item">
                            <a class="nav-link fa fa-instagram" href="https://www.instagram.com/bulletscript" target="_blank"></a>
                        </li>
                        
                        <!-- Spotify -->
                        <li class="nav-item">
                            <a class="nav-link fa fa-spotify" href="https://open.spotify.com/artist/3SLBGghuwxcU3N8CQOHJHR" target="_blank"></a>
                        </li>
                        
                        <!-- Bandcamp -->
                        <li class="nav-item">
                            <a class="nav-link fa fa-bandcamp" href="https://bulletscript.bandcamp.com/" target="_blank"></a>
                        </li>
                    </ul>
                    <form action="/" method="post" class="d-flex">
                        <input class="form-control me-2" type="email" placeholder="Email" name="email" aria-label="Email">
                        <button type="submit" class="btn btn-outline-dark" id="submitbutton">Subscribe</button>
                    </form>
                </div>
                <div class="flashmessage">
                    {% with messages = get_flashed_messages() %}
                        {%if messages %}
                            {% for msg in messages %}
                                <p>{{msg}}</p>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </nav>
    <!-- End nav container -->
    <!-- Carousel and description -->
    <br><br>
    <div class="container pt-5">
        <div class="carousel slide" data-bs-ride="carousel">
            <!-- Indicators/dots -->
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
            </div>
            <!-- The slideshow/carousel -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/pics/1.jpg" alt="BulletScript" class="d-block w-100 rounded">
                </div>
                <div class="carousel-item">
                    <img src="/static/pics/2.jpg" alt="BulletScript" class="d-block w-100 rounded">
                </div>
                <div class="carousel-item">
                    <img src="/static/pics/3.jpg" alt="BulletScript" class="d-block w-100 rounded">
                </div>
                <div class="carousel-item">
                    <img src="/static/pics/4.jpg" alt="BulletScript" class="d-block w-100 rounded">
                </div>
            </div>
            <!-- Left and right controls/icons -->
            <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>
        <p>BULLETSCRIPT is a band with a clear message - open your eyes to the world around you, and question
            everything,
            taking nothing, and nobody, for granted.
            
            The band consists of a full compliment of seasoned performers from the Cape Town metal scene. A band that
            enjoys pushing the envelope, placing great emphasis on solid song writing, stellar stage performance and a
            delivery so intense that your neck will be in a constant state of headbanging ecstasy.
            
            Combining the skills of Brett Bruton (Vocals), Jacques Hugo (Guitar), Oliver Saggerson (Guitar), JJ du Toit
            (Bass) and Kyle Curran (Drums), BULLETSCRIPT is ready to spread the word, take no prisoners and have a great
            time!</p>
        </div>
        
    <div class="container">
        <div class="row">
            <!-- Merch Store -->
            <div class="col-lg-4 col-md-12">
                <h3>MERCH</h3>
                <img id="merch" src="/static/pics/merch.png" alt="merch">
                <a href="/store" type="button" class="btn btn-outline-dark btn-lg" id="storebutton">Store</a>
            </div>
            <!-- Spotify player -->
            <div class="col-lg-4 col-md-12">
                <h3>LISTEN</h3>
                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/artist/3SLBGghuwxcU3N8CQOHJHR?utm_source=generator" width="100%"
                    height="380" frameBorder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
                </iframe>
            </div>
            <!-- Upcoming shows -->
            <div class="col-lg-4 col-md-12">
                <h3>UPCOMING SHOWS</h3>
                <img id="upcoming" src="/static/pics/daisyjones.jpeg" alt="upcoming gig">
                <a href="https://www.facebook.com/events/987807045170593/?ref=newsfeed" target="_blank">More Info</a>
            </div>
        </div>
    </div>
</body>

</html>