{% extends "layout.html" %} 

{% block body %}
    <br><br><br><br>
    <div class="container">
        <p>BULLETSCRIPT MERCH <span>
                <button type="button" class="btn btn-link">
                    <a href="/">back</a>
                </button>
                <button type="button" class="btn btn-link" style="float: right">
                    <a href="/cart">View Cart</a>
                </button>
            </span>
        </p>
    </div>

    <div class="container my-5">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <a href="/store/GOATLS" >
                    <img id="smerch" class="img-fluid" src="/static/merch/BS Goat Long Sleeve.JPG" alt="Long Sleeve Goat">
                </a>
                <p>BSGoat LS</p>
                <a href="/store/KNOT01">
                    <img id="smerch" class="img-fluid" src="/static/merch/Knotted.JPG" alt="Knotted">
                </a>
                <p>Knotted SS</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="/store/GOATSS">
                    <img id="smerch" class="img-fluid" src="/static/merch/BS Goat.JPG" alt="Goat">
                </a>
                <p>BSGoat SS</p>
                <a href="/store/ENELIM">
                    <img id="smerch" class="img-fluid" src="/static/merch/Enemy Limited Edition.JPG" alt="Enemy Lim Ed">
                </a>
                <p>Enemy Lim Ed</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="/store/LOGOGR">
                    <img id="smerch" class="img-fluid" src="/static/merch/BS Logo Green.JPG" alt="Green Logo">
                </a>    
                <p>Green Logo</p>
                <a href="/store/EPKN">
                    <img id="smerch" class="img-fluid" src="/static/merch/Knotted EP.JPG" alt="Knotted EP">
                </a>
                <p>Knotted EP</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <a href="/store/EPEN">
                    <img id="smerch" class="img-fluid" src="/static/merch/Enemy EP.JPG" alt="Enemy EP">
                </a>
                <p>Enemy EP</p>
            </div>
        </div>
    </div>
{% endblock %}